# GitLab Token
GITLAB_TOKEN=123456

# AI API
AI_BASE_URL=https://api.openai.com/v1
AI_API_KEY=123456
AI_MODEL=qwen3-coder-480b-a35b-instruct

# Slack Webhook
SLACK_WEBHOOK_URL=https://hooks.slack.com/triggers/123456
